/*Variaveis*/
:root{

    --cor-defaut: #00bf63;

    --cor-white: #ffffff;

}

html{

    font-size: 10px;
    width: 100%;
    height: 100%;

}

body {

    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "SUSE", sans-serif;
    background: linear-gradient(360deg, var(--cor-white), var(--cor-defaut));
    background-repeat: no-repeat;

}

#logo{
    
    width: 6.5%;
    margin: 0rem 0rem 0rem 10rem;

}

main{

    margin: 2.5rem 20rem 2.5rem 20rem;
    display: flex;
    justify-content: space-around;

}

    #infoContact{

        display: flex;
        flex-direction: column;
        justify-content: center;

    }

        #infoContact h1{

            font-size: 5rem;
            margin: 0rem 0rem 3rem 0rem;

        }

        #infoContact #textInfoContact{

            font-size: 1.8rem;
            margin: 0rem 0rem 2.5rem .5rem;

        }

        #infoContact h3{

            font-size: 3.5rem;
            margin: 5rem 0rem 3rem 0rem;

        }

        .contactAndLogo{

            display: flex;
            align-items: center;
            margin: 0rem 0rem 3rem .5rem;

        }

            .contactAndLogo i{

                font-size: 2rem;
                margin: 0rem 0rem 0rem .1rem;

            }

            .contactAndLogo p{

                font-size: 1.6rem;
                margin: 0rem 0rem 0rem 1rem;
            }

/* Formulário */
.form-container {

    background-color: #ffffff00;
    border: .1rem solid;
    width: 45%;
    height: 75rem;

}

    /* Corpo formulário */
    .form-body {

        width: 100%;
        height: 100%;
        margin: 5rem 0rem 0rem 8rem;
        
    }

        .box-input {

            margin-bottom: 5rem;

        }

            .box-input label{

                font-size: 1.8rem;

            }

            .box-input input{

                padding: 1rem 0px;
                margin: 2rem 0rem 0rem 0rem;

            }

                input[type=text], input[type=number], input[type=date]{

                    width: 50%;
                    border: 0;
                    border-bottom: .1rem solid #000000;
                    background-color: #cccccc00;
                    font-size: 1.6rem;
                    color: #686868a4;
                    outline: none;

                }

                input[type=number]{

                    -moz-appearance: textfield;

                }

            .box-input p{

                font-size: 1.8rem;
                margin: 0rem 0rem 2rem 0rem;

            }

            .gender{

                font-size: 1.6;
                margin: 0rem 3rem 0rem 1rem;

            }

            .gender:last-child{

                margin: 0rem 0rem 0rem 1rem;
            }

            .required-field {

                color: #D80835;

            }

            .block {

                display: block;

            }

        .btn-submit {

            font-size: 1.8rem;
            background-color: #00bf63;
            color: #FFF;
            border: .2rem solid transparent;
            width: 50rem;
            height: 5rem;
            text-transform: uppercase;
            cursor: pointer;
            transition: 1s;
            border-radius: 5rem;
            margin: 3rem 0rem 0rem 0rem;
            

        }

            .btn-submit:hover {

            background-color: #FFF;
            border-color: #00bf63;
            color: #00bf63;

            }
